:root {
    --text-color: rgba(#333333, 0.5);
    --text-color-disabled: rgba(16, 16, 16, 0.3);
    --main-background-color: #F0F2F5;

    --color-white: #fff;
    --color-black: #000;

    --highlight-green: #d2f4e5;
    --highlight-pink: #f4d2d2;
    --highlight-blue: #d2e4ff;
    --highlight-yellow: #fdf4d2;
    --highlight-gray: #0000001d;

    --box-shadow: rgba(0, 0, 0, 0.05);
}

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-size: 1.05rem;
    line-height: 1.5;
    font-weight: 500;
    background-color: var(--main-background-color);
    color: var(--text-color);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media only screen and (max-width: 768px) {
    :root {
        font-size: 1rem;
    }
}


a {
    color: var(--text-color);
    font-weight: 500;
    cursor: pointer;
    text-decoration: inherit;
    transition: all .15s;
}

.fake-link {
    text-decoration: none;
    font-weight: bold;
}

body {
    margin: 0;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

.container {
    margin: 0 auto;
    max-width: 1440px;
    padding: 0 2rem;
}

@media only screen and (max-width: 768px) {
    .container {
        padding: 0 1rem;
    }
}

.form-row {
    display: block;
    margin: 1rem 0;
}

.form-row span {
    display: block;
    margin-bottom: 0.3rem;
}


.flex-on-fields {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
}

.login-wrapper,
.author-wrapper,
.support-wrapper {
    margin: 3rem auto 0 auto;
    border-radius: 0.5rem;
    padding: 2rem;
}

.register-wrapper {
    margin: 3rem auto 0 auto;
    border-radius: 0.5rem;
    padding: 2rem;
}

.login-wrapper,
.register-wrapper,
.author-wrapper,
.support-wrapper {
    min-width: 370px;
    max-width: 370px;
}

.highlight {
    position: relative;
    display: inline-block;
}

.highlight::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0.1em;
    height: 50%;
    z-index: -1;
    transform: skewX(-10deg);
    border-radius: 0.2em;
}

.highlight-green::before {
    background-color: var(--highlight-green);
}

.highlight-pink::before {
    background-color: var(--highlight-pink)
}

.highlight-blue::before {
    background-color: var(--highlight-blue);
}

.highlight-yellow::before {
    background-color: var(--highlight-yellow);
}

.highlight-gray::before {
    background-color: var(--highlight-gray);
}

.greetings-arrow {
    position: absolute;
    top: 1rem;
    right: 12rem;
    width: 5rem;
}

textarea {
    resize: none;
    width: 95%;
    padding: 0.6rem;
    border: none;
    border-radius: 0.25rem;
    outline: none;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

input {
    min-width: 12rem;
    padding: 0.6rem;
    width: 95%;
    font-size: 1rem;
    border: none;
    appearance: none;
    outline: none;
    border-radius: 0.25rem;
}



.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.no-books-wrapper {
    position: relative;
}

.books {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1.5rem;
}

.book-add-pointer {
    position: absolute;
    left: 8rem;
    bottom: -4.5rem;
    transform: rotateY(200deg);
    width: 100px;
}

.book-card {
    background-color: var(--color-white);
    padding: 1.3rem 1rem 1rem 1rem;
    border-radius: 0.5rem;
    width: 8rem;
    height: 12rem;
    max-height: 12rem;
    overflow: auto;
    cursor: pointer;
    transition: all .15s;
    box-shadow: 2px 2px 4px var(--highlight-green);
}

.book-card:hover {
    transform: translateY(-0.25rem);
}

.active-book {
    transform: translateY(-0.25rem);
}

.book-wish {
    box-shadow: 2px 4px 6px var(--highlight-yellow);
}

.book-suggested {
    box-shadow: 2px 4px 6px var(--highlight-pink);
}

.book-card-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.book-card-footer-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.book-card-author {
    font-size: 0.9rem;
}

.book-card-year {
    text-align: right;
}

.book-list-title-wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
}


.ReactModal__Overlay,
.ReactModal__Overlay--after-open {
    background-color: rgba(0, 0, 0, 0.85) !important;
}

.ReactModal__Content,
.ReactModal__Content--after-open {
    border: none !important;
    border-radius: 0.5rem !important;
    background-color: var(--main-background-color) !important;
}


.logout {
    cursor: pointer;
}