:root {
    --text-color: #333333;
    --text-color-disabled: rgba(16, 16, 16, 0.3);
    --link-text-color: #80ba6b;
    --text-accent-color: #80ba6b;
    --main-background-color: #F0F2F5;

    --color-white: #fff;
    --color-black: #000;

    --highlight-green: #d2f4e5;
    --highlight-pink: #f4d2d2;
    --highlight-blue: #d2e4ff;
    --highlight-yellow: #fdf4d2;

    --box-shadow: rgba(0, 0, 0, 0.05);
}

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-size: 1.05rem;
    line-height: 1.5;
    font-weight: 500;
    background-color: var(--main-background-color);
    color: var(--text-color);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a,
.fake-link {
    color: var(--text-color);
    font-weight: 500;
    cursor: pointer;
    text-decoration: inherit;
    transition: all .15s;
}

body {
    margin: 0;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

.container {
    margin: 0 auto;
    max-width: 1440px;
    padding: 0 2rem;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 2rem;
    padding: 0 2rem;
}

.header nav {
    display: flex;
    gap: 2rem;
}

.form-row {
    display: block;
    margin: 1rem 0;
}

.form-row span {
    display: block;
    margin-bottom: 0.3rem;
}

.register-buttons,
.login-buttons,
.add-buttons,
.edit-buttons {
    display: flex;
    gap: 1rem;
    margin-top: 1.5rem;
}

.flex-on-fields {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
}

.login-wrapper {
    margin: 3rem auto 0 auto;
    border-radius: 0.5rem;
    padding: 2rem;
}

.register-wrapper {
    margin: 3rem auto 0 auto;
    border-radius: 0.5rem;
    padding: 2rem;
}

.ai-button {
    color: var(--text-color);
    font-size: 13px;
    padding: 0.3rem 0.6rem;
    background-color: var(--highlight-pink);
}

.ai-button:disabled {
    background-color: var(--highlight-pink);
    color: var(--text-color-disabled);
    cursor: not-allowed;
}

.ai-button:disabled:hover {
    color: var(--text-color-disabled);
    background-color: var(--highlight-pink);
}

.login-wrapper,
.register-wrapper {
    min-width: 370px;
    max-width: 370px;
}

.home {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

.highlight {
    position: relative;
    display: inline-block;
}

.highlight::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0.1em;
    height: 50%;
    z-index: -1;
    transform: skewX(-10deg);
    border-radius: 0.2em;
}

.highlight-green::before {
    background-color: var(--highlight-green);
}

.highlight-pink::before {
    background-color: var(--highlight-pink)
}

.highlight-blue::before {
    background-color: var(--highlight-blue);
}

.highlight-yellow::before {
    background-color: var(--highlight-yellow);
}

.greetings-arrow {
    position: absolute;
    top: 1rem;
    right: 12rem;
    width: 5rem;
}

textarea {
    resize: none;
    width: 95%;
    padding: 0.6rem;
    border: none;
    border-radius: 0.25rem;
    outline: none;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

input {
    min-width: 12rem;
    padding: 0.6rem;
    width: 95%;
    font-size: 1rem;
    border: none;
    appearance: none;
    outline: none;
    border-radius: 0.25rem;
}

button {
    border-radius: 0.5rem;
    border: 1px solid transparent;
    padding: 0.6em 0.8rem;
    font-size: 0.9rem;
    font-weight: 500;
    font-family: inherit;
    background-color: var(--color-white);
    cursor: pointer;
    transition: all 0.25s;
}

button:disabled:hover {
    background-color: var(--color-white);
    color: var(--color-black);
    opacity: 0.5;
}

button:focus,
button:focus-visible {
    outline: none;
    appearance: none;
}

.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.no-books-wrapper {
    position: relative;
}

.books {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1.5rem;
}

.book-add-pointer {
    position: absolute;
    left: 8rem;
    bottom: -4.5rem;
    transform: rotateY(200deg);
    width: 100px;
}

.book-card {
    background-color: var(--color-white);
    padding: 1.3rem 1rem 1rem 1rem;
    border-radius: 0.5rem;
    width: 8rem;
    height: 12rem;
    max-height: 12rem;
    overflow: auto;
    cursor: pointer;
    transition: all .15s;
    box-shadow: 2px 2px 4px var(--highlight-green);
}

.book-card:hover {
    transform: translateY(-0.25rem);
}

.active-book {
    transform: translateY(-0.25rem);
}

.book-wish {
    box-shadow: 2px 4px 6px var(--highlight-yellow);
}

.book-card-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.book-card-footer-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.book-card-author {
    font-size: 0.9rem;
}

.book-card-year {
    text-align: right;
}

.book-list-title-wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.button-refresh {
    padding: 0;
    background: none;
    font-size: 1.4rem;
    margin-top: 0.3rem;
}

.button-refresh:disabled {
    background: none !important;
}

.ReactModal__Overlay,
.ReactModal__Overlay--after-open {
    background-color: rgba(0, 0, 0, 0.85) !important;
}

.ReactModal__Content,
.ReactModal__Content--after-open {
    border: none !important;
    border-radius: 0.5rem !important;
    background-color: var(--main-background-color) !important;
}

.small-text {
    font-size: 0.7rem;
}

.button-add-wish {
    background: var(--highlight-yellow) !important;
}

.button-add-collection {
    background: var(--highlight-green) !important;
}

/* MEDIA */
@media screen and (max-width: 768px) {

    .home h1 {
        font-size: 3rem;
    }

    :root {
        font-size: 1rem;
    }

    button {
        padding: 0.5rem 0.6rem;
    }

    .login-wrapper,
    .register-wrapper {
        min-width: 320px;
        max-width: 320px;
    }

    .header {
        flex-direction: column;
        padding-bottom: 1rem;
    }

    .book-card,
    .book-card-wish {
        width: 8rem;
        height: 13rem;
    }

    .book-card h3,
    .book-card-wish h3 {
        margin-top: 0;
    }
}

@media screen and (max-width: 425px) {

    .books {
        align-items: stretch;
        justify-content: center;
        gap: 1rem;
    }

    .header {
        margin-bottom: 3rem;
    }

    .login-wrapper,
    .register-wrapper {
        min-width: 300px;
        max-width: 300px;
    }

    .container {
        padding: 0 1rem;
    }

    .book-card,
    .book-card-wish {
        width: 7rem;
        height: 11rem;
    }
}