:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

a:hover {
    color: #535bf2;
}

body {
    margin: 0;
    /* display: flex; */
    /* place-items: center; */
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}

button:hover {
    border-color: #646cff;
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }

    a:hover {
        color: #747bff;
    }

    button {
        background-color: #f9f9f9;
    }
}

.ReactModal__Overlay {
    background-color: rgba(0, 0, 0, 0.8) !important;
}

.ReactModal__Overlay--after-open {
    background-color: rgba(0, 0, 0, 0.8) !important;

}

/* #root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 1rem;
    text-align: center;
} */

.container {
    margin: 0 auto;
    /* max-width: 1440px; */
    padding: 0 2rem;
    /* max-width: 1280px; */
    /* margin: 0 auto; */
    /* padding: 0 2rem; */
    /* text-align: center;  */
    /* width: 100%; */
}

.books {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.book {
    background-color: royalblue;
    border: 0.2rem solid transparent;
    padding: 1rem;
    border-radius: 0.5rem;
    width: 10rem;
    height: 15rem;
    cursor: pointer;
    transition: all .15s;

    &:hover {
        background-color: transparent;
        border: 0.2rem solid royalblue;
    }
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;
}

.header h2 {
    color: darkkhaki
}

.header nav {
    display: flex;
    gap: 2rem;
}

.content {
    margin: 2rem 0;
}